<!DOCTYPE html>
<html>
<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>传智健康</title>
    <meta name="description" content="传智健康">
    <meta name="keywords" content="传智健康">
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <!-- 引入样式 -->
    <link rel="stylesheet" href="../plugins/elementui/index.css">
    <link rel="stylesheet" href="../plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body class="hold-transition">
<div id="app">
    <div class="content-header">
        <h1>角色管理<small>角色数据维护</small></h1>
        <el-breadcrumb separator-class="el-icon-arrow-right" class="breadcrumb">
            <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
            <el-breadcrumb-item>角色管理</el-breadcrumb-item>
            <el-breadcrumb-item>角色数据维护</el-breadcrumb-item>
        </el-breadcrumb>
    </div>
    <div class="app-container">
        <div class="box">
            <div class="filter-container">
                <el-input placeholder="项目编码/管理人员" v-model="pagination.queryString" style="width: 200px;" class="filter-item"></el-input>
                <el-button @click="findPage2()" class="dalfBut">查询</el-button>
                <el-button type="primary" class="butT" @click="handleCreate()">新建</el-button>
            </div>
            <el-table size="small" current-row-key="id" :data="dataList" stripe highlight-current-row>
                <el-table-column type="index" align="center" label="序号"></el-table-column>
                <el-table-column prop="name" label="角色名称" align="center"></el-table-column>
                <el-table-column prop="keyword" label="角色编码" align="center"></el-table-column>
                <el-table-column prop="description" label="描述" align="center"></el-table-column>
                <el-table-column label="操作" align="center">
                    <template slot-scope="scope">
                        <el-button type="primary" size="mini" @click="handleUpdate(scope.row)">编辑</el-button>
                        <el-button size="mini" type="danger" @click="handleDelete(scope.row)">删除</el-button>
                    </template>
                </el-table-column>
            </el-table>
            <!--
            handleCurrentChange:切换页面
            pagination.currentPage：当前页码
            page-size:每页显示记录数
            pagination.total：总记录数

            总记录数 每页显示数据
            -->
            <div class="pagination-container">
                <el-pagination
                        class="pagiantion"
                        @current-change="handleCurrentChange"
                        :current-page="pagination.currentPage"
                        :page-size="pagination.pageSize"
                        layout="total, prev, pager, next, jumper"
                        :total="pagination.total">
                </el-pagination>
            </div>
            <!-- 新增标签弹层 -->
            <div class="add-form">
                <el-dialog title="新增角色" :visible.sync="dialogFormVisible">
                    <template>
                        <el-tabs v-model="activeName" type="card">
                            <el-tab-pane label="基本信息" name="first">
                                <el-form ref="dataAddForm" :model="formData" :rules="rules" label-position="right" label-width="100px">
                                    <el-row>
                                        <el-col :span="12">
                                            <el-form-item label="角色名称" prop="name">
                                                <el-input v-model="formData.name"/>
                                            </el-form-item>
                                        </el-col>
                                        <el-col :span="12">
                                            <el-form-item label="角色编码" prop="keyword">
                                                <el-input v-model="formData.keyword"/>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>
                                    <el-row>
                                        <el-col :span="24">
                                            <el-form-item label="描述">
                                                <el-input v-model="formData.description" type="textarea"></el-input>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>
                                </el-form>
                            </el-tab-pane>
                            <el-tab-pane label="权限信息" name="second">
                                <div class="checkScrol">
                                    <table class="datatable">
                                        <thead>
                                        <tr>
                                            <th>选择</th>
                                            <th>权限名称</th>
                                            <th>权限编码</th>
                                            <th>权限说明</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr v-for="c in tableData">
                                            <td>
                                                <input :id="c.id" v-model="permissionIds" type="checkbox" :value="c.id">
                                            </td>
                                            <td><label :for="c.id">{{c.name}}</label></td>
                                            <td><label :for="c.id">{{c.keyword}}</label></td>
                                            <td><label :for="c.id">{{c.description}}</label></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </el-tab-pane>
                    <el-tab-pane label="菜单信息" name="third">
                        <div class="OrleScrol">
                            <table class="datatable">
                                <thead>
                                <tr>
                                    <th>选择</th>
                                    <th>菜单名称</th>
                                    <th>Url</th>
                                    <th>路径</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="c in tableData">
                                    <td>
                                        <input :id="c.id" v-model="permissionIds" type="checkbox" :value="c.id">
                                    </td>
                                    <td><label :for="c.id">{{c.name}}</label></td>
                                    <td><label :for="c.id">{{c.keyword}}</label></td>
                                    <td><label :for="c.id">{{c.description}}</label></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </el-tab-pane>
                    </el-tabs>
                    </template>
                    <div slot="footer" class="dialog-footer">
                        <el-button @click="dialogFormVisible = false">取消</el-button>
                        <el-button type="primary" @click="handleAdd()">确定</el-button>
                    </div>
                </el-dialog>
            </div>

            <!-- 编辑标签弹层 -->
            <div class="add-form">
                <el-dialog title="编辑角色信息" :visible.sync="dialogFormVisible4Edit">
                    <template>
                        <el-tabs v-model="activeName" type="card">
                            <el-tab-pane label="基本信息" name="first">
                                <el-form ref="dataEditForm" :model="formData" :rules="rules" label-position="right" label-width="100px">
                                    <el-row>
                                        <el-col :span="12">
                                            <el-form-item label="角色名称" prop="name">
                                                <el-input v-model="formData.name"/>
                                            </el-form-item>
                                        </el-col>
                                        <el-col :span="12">
                                            <el-form-item label="角色编码" prop="keyword">
                                                <el-input v-model="formData.keyword"/>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>
                                    <el-row>
                                        <el-col :span="24">
                                            <el-form-item label="描述">
                                                <el-input v-model="formData.discription" type="textarea"></el-input>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>
                                </el-form>
                            </el-tab-pane>
                            <el-tab-pane label="权限信息" name="second">
                                <div class="checkScrol">
                                    <table class="datatable">
                                        <thead>
                                        <tr>
                                            <th>选择</th>
                                            <th>权限名称</th>
                                            <th>权限编码</th>
                                            <th>权限说明</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr v-for="c in tableData2">
                                            <td>
                                                <input :id="c.id" v-model="menuIds" type="checkbox" :value="c.id">
                                            </td>
                                            <td><label :for="c.id">{{c.name}}</label></td>
                                            <td><label :for="c.id">{{c.linkUrl}}</label></td>
                                            <td><label :for="c.id">{{c.path}}</label></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </el-tab-pane>
                        </el-tabs>
                    </template>
                    <div slot="footer" class="dialog-footer">
                        <el-button @click="dialogFormVisible4Edit = false">取消</el-button>
                        <el-button type="primary" @click="handleEdit()">确定</el-button>
                    </div>
                </el-dialog>
            </div>
        </div>
    </div>
</div>
</body>
<!-- 引入组件库 -->
<script src="../js/vue.js"></script>
<script src="../plugins/elementui/index.js"></script>
<script type="text/javascript" src="../js/jquery.min.js"></script>
<script src="../js/axios-0.18.0.js"></script>
<script>
    var vue = new Vue({
        el: '#app',
        data:{
            activeName:'first',
            pagination: {//分页相关模型数据
                currentPage: 1,//当前页码
                pageSize:10,//每页显示的记录数
                total:0,//总记录数
                queryString:null//查询条件
            },
            dataList: [],//当前页要展示的分页列表数据
            formData: {},//表单数据
            tableData2:{},//菜单表单数据
            tableData:[],//新增和编辑表单中对应的权限列表数据
            dialogFormVisible: false,//增加表单是否可见
            dialogFormVisible4Edit:false,//编辑表单是否可见
            permissionIds:[],//新增和编辑表单中检查项对应的复选框，基于双向绑定可以进行回显和数据提交
            menuIds:[],//菜单表对于的复选框
            rules: {//校验规则
                name: [{ required: true, message: '角色名称为必填项', trigger: 'blur' }],
                keyword: [{ required: true, message: '角色编码为必填项', trigger: 'blur' }]
            }
        },
        //钩子函数，VUE对象初始化完成后自动执行
        created() {
            //页面加载完成后，异步发送请求获取分页数据
            this.findPage();
        },
        methods: {
            //编辑
            handleEdit() {
                //1.表单校验
                this.$refs['dataEditForm'].validate((valid) => {
                    if (valid) {
                        this.dialogFormVisible4Edit = false;
                        //2.发送请求 formData
                        axios.post('/checkitem/edit.do',this.formData).then(res=>{
                            //3.隐藏窗口 成功失败提示
                            if(res.data.flag){
                                this.$message({
                                    message: res.data.message,
                                    type: 'success'
                                });
                                //4.分页查询
                                this.findPage();
                            }
                            else
                            {
                                this.$message.error(res.data.message);
                            }
                        })


                    } else {
                        console.log('error submit!!');
                        return false;
                    }
                });
            },
            //添加
            handleAdd () {
                //1.表单校验
                this.$refs['dataAddForm'].validate((valid) => {
                    if (valid) {
                        this.dialogFormVisible = false;
                        //2.发送请求 formData
                            axios.post('/orle/add.do?permissionIds='+this.permissionIds,this.formData).then(res=>{
                            //3.隐藏窗口 成功失败提示
                            if(res.data.flag){
                                this.$message({
                                    message: res.data.message,
                                    type: 'success'
                                });
                                //4.分页查询
                                this.findPage();
                            }
                            else
                            {
                                this.$message.error(res.data.message);
                            }
                        })


                    } else {
                        console.log('error submit!!');
                        return false;
                    }
                });

            },
            findPage2(){
                this.pagination.currentPage = 1;
                this.findPage();
            },
            showErrorMessage(e){
                if(e == 'Error: Request failed with status code 403'){
                    this.$message.error("权限不足");
                }
                else {
                    this.$message.error("未知异常，请联系管理员");
                }
            },
            //分页查询
            findPage() {
                //发送分页请求
                //  currentPage
                //  pageSize
                //  queryString
                //封装分页参数
                var params ={
                    currentPage:this.pagination.currentPage,
                    pageSize:this.pagination.pageSize,
                    queryString:this.pagination.queryString
                };
                axios.post('/orle/findAll.do',params).then(res=>{
                    if(res.data.flag){
                        ///res.data :response对象中data
                        //res.data.data:result对象中data
                        //rows: pageResult对象中rows
                        //total:pageResult对象中total
                        this.dataList = res.data.data.rows;
                        this.pagination.total = res.data.data.total;//总记录数
                    }
                    else
                    {
                        this.$message.error(res.data.message);
                    }
                })
            },
            // 重置表单
            resetForm() {
            },
            // 弹出添加窗口
            handleCreate() {
                //弹出窗口
                this.dialogFormVisible =true;
                //清空表单
                this.formData = {};
                //弹出窗口的时候显示所有的权限数据
                axios.get("/orle/inquireJurisdiction.do").then(response=>{
                    this.$message({
                        message: response.data.message,
                        type: response.data.flag ? 'success':'error'
                    });
                    if (response.data.flag){
                        this.tableData = response.data.data;
                }
                });
                axios.get("/orle/rolerequest .do").then(response=>{
                    this.$message({
                        message: response.data.message,
                        type: response.data.flag ? 'success':'error'
                    });
                    if (response.data.flag){
                        this.tableData2 = response.data.data;
                    }
                })
            },
            // 弹出编辑窗口
            handleUpdate(row) {
                //弹出窗口
                this.dialogFormVisible4Edit = true;
                //发送请求获取数据库中最新的检查项数据
                axios.get('/checkitem/findById.do?id='+row.id).then(res=>{
                    if(res.data.flag){
                        this.$message({
                            type: 'success',
                            message: res.data.message
                        });
                        //回显数据
                        this.formData = res.data.data;
                    }else
                    {
                        this.$message.error(res.data.message);
                    }
                    this.findPage();
                })
            },
            //切换页码
            handleCurrentChange(currentPage) {
                this.pagination.currentPage = currentPage;
                this.findPage();
            },
            // 删除
            handleDelete(row) {
                //alert(row.id);
                //弹出确认删除提示框

                this.$confirm('此操作将永久删除该检查项, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {

                    //发送删除请求
                    axios.get('/checkitem/delete.do?id='+row.id).then(res=>{
                        if(res.data.flag){
                            this.$message({
                                type: 'success',
                                message: res.data.message
                            });
                        }else
                        {
                            this.$message.error(res.data.message);
                        }
                        this.findPage();
                    }).catch(e=>{
                        this.showErrorMessage(e);
                    })
                    /**/
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: '已取消删除'
                    });
                });
            }
        }
    })
</script>
</html>